@model DAL.Entities.Word
@{
    ViewData["Title"] = "Create";
    var languages = (IEnumerable<SelectListItem>)ViewBag.Languages;
}

<h1>Create</h1>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label for="exampleFormControlInput1">Слово</label>
        <input asp-for="Original" type="text" class="form-control" id="exampleFormControlInput1">
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect1">Язык</label>
        <select asp-for="OriginalId" class="form-control" asp-items=@languages>
            <option selected>Выберите...</option>
        </select>
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">Перевод</label>
        <input asp-for="Translate" type="text" class="form-control" id="exampleFormControlInput1">
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect2">Язык</label>
        <select asp-for="TranslateId" class="form-control" asp-items=@languages>
            <option selected>Выберите...</option>
        </select>
    </div>
    <button type="submit" class="btn btn-outline-primary">Создать</button>
</form>