@model DAL.Entities.Language
@{
    ViewData["Title"] = "Update";
}

<h1>Update</h1>

<form asp-action="Update" method="post">
    <div class="form-group">
        <input hidden asp-for="Id" />
        <label for="exampleFormControlInput1">Слово</label>
        <input asp-for="Name" type="text" class="form-control" id="exampleFormControlInput1">
    </div>
    <button type="submit" class="btn btn-outline-primary">Сохранить</button>
</form>